body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(90deg, rgb(33, 243, 120), rgb(96, 245, 158), rgb(33, 243, 120));
    background-image: url('https://marketplace.canva.com/EAFIsIL-6qo/1/0/900w/canva-wallpaper-ponsel-ungu-merah-muda-illustrasi-pemandangan-hutan-i6WDJwfVHZ8.jpg');
    background-size: cover;
}
/* .con-daftar{
    position: relative;
    width: 320px;
    height: auto;
    border: 1px solid black;
} */
.con-daftar h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
}
.con-daftar form{
    top: 10px;
    
}
.con-daftar label, button{
    display: block;
    font-family: 'Ubuntu', sans-serif;
}
.con-daftar input{
    margin: 10px auto;
    width: 250px;
    height: 25px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: none;
}
.con-daftar input::-webkit-outer-spin-button,
.con-daftar input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.con-daftar input:focus{
    background: rgba(88, 88, 88, 0.637);
    color: white;
}
.con-daftar button{
    margin: 10px auto;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    background: none;
    color: white;
}
.con-daftar button:hover{
    background: rgba(88, 88, 88, 0.637);
}